header.class1 {
  color: blue;
  text-align: center; 
  padding: 3px;
  margin: 0px;
 
}


div.form1{
  background-color: rgba(63, 63, 63, 0.753);
  padding: 20px;
  border-radius: 10px;
  word-wrap: break-word;
}
.div1{
     padding: 20px;
}

li.list1 {
  display: inline;
}
span.title1 {
     display: inline;
     font-size: 40px;
     font-family: sans-serif;
     font-weight: bolder;
     
     
   }

span.list1{
     float: right;
}

a:link.type1,
a:visited.type1 {
  background-color: #2d2fc0;
  color: white;
  padding: 14px 25px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-emphasis-color: rgb(149, 135, 233);
}

a:hover.type1, a:active.type1 {
     background-color: #00ccffb0;
   }



   .concatenar{
     width: 300px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: blue;
    text-align: center;
   }
